*{
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: rgb(240, 240, 240);
    
}

.nav-custom {
    background-color: rgb(37,50,56) ;
}

.header-img {
    background: linear-gradient(360deg,rgb(240, 240, 240), rgb(50, 50, 50, 0.5), rgb(100, 100, 100)), url('./media/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.header-title {
    font-size: 60px;
    color: white;
}

@media  screen and (max-width: 1000px) {
    .header-title {
        font-size: 40px;
    }
    
}


@keyframes bella {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.anim-left {
    position: relative;
    animation: bella 3s 1;
    
}


.c-button {
    padding:15px ;
    border:1px solid rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    background-color: rgb(50, 50, 50, 0.2);
    transition:all 0.3s;
    box-shadow: 2px 2px 5px black;
}

.c-button:hover {
    background-color: rgb(50, 50, 50, 0.8);
    padding:17px;
}

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}

.btn-1{
    position: relative;
    top: 10px;
}

.card{
    background-color: rgb(47,49,48);
    border: 2px rgb(47,49,48) solid;
    border-radius:5px ;
}

.footer{
    
    background-color: rgb(37,50,56);
}